<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Let's Talk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F205670C1EDDAF01004A2E35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F20567231EDDAF01004A2E35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F205672E1EDDAF01004A2E35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
